<html>
    <head>
    <title>Your Newsfeed, Enjoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>

    <div class="main">
        <div class="post">
            <p><a href=" {{ url_for('post') }}"> Post a feed </a></p>
        </div>
        <div class="result-list">
            {% for feed in all_feeds %}
                <div class="result">


                    <div class="heading">
                        <p> {{ feed['username'] }} </a></p>
                    </div>
                    <div class="info">
                        <ul>
                            <li class="date"><strong>Date</strong> : {{ feed['date'] }} </li>
                            <li class="tags"><strong>Tags</strong> : {{ feed['tags']}}</li>
                        </ul>
                    </div>

                    <div class="content">
                        <p>{{ feed['content'] }}</p>
                    </div>

                    <!-- <div class="bookmark">
                       <p><a href=" {{ url_for('bookmark', feed_number = feed['id'] ) }}"> Bookmark this feed </a></p>
                    </div> -->
                    <form method="POST">
                        <button name="bookmark" type="button" onclick="addBookmark(1)">Bookmark this</button>
                    </form>

                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
      <h1>Search</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Search Query" name="search_text" value="{{
          request.form.search_text }}">
        <input class="btn btn-default" type="submit" name = "button" value="search_user">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      <br>
      
      <form action="" method="post">
        <input class="btn btn-default" type="submit" name = "button" value="user_post">
      </form>

      <br>
      
      <form action="" method="post">
        <input type="text" placeholder="Search Using Tags" name="tag_text" value="{{
          request.form.tag_text }}">
        <input class="btn btn-default" type="submit" name = "button" value="tag_search">
      </form>
    </div>

    </body>
</html>