<html>
    <head>
    <title>Your Newsfeed, Enjoy</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/css/style.css" rel="stylesheet">

    <script src="../static/js/script.js"></script>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- For fa fa-angle-down -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <link href="../static/img/logo.png" rel="shortcut icon" type="image/png"/>

    <script src="../static/js/main.js"></script>

    <style>
      .real-selections {
            display: none;
        }
      .striped-border {
        border: 1px dashed #000;
        width: 50%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    </style>

    </head>
    <body>

    <div class="search-box">
        <h2>{{username}}</h2>
        <br>
        <form action="" method="post">
          <input class="btn btn-default" type="submit" name = "button" value="My Profile">
        </form>

        <form action="" method="post">
          <input class="btn btn-default" type="submit" name = "button" value="Show Bookmarks">
        </form>        

        <br>
        <div class = "category" >
          <form id="form2" action="" method="POST" enctype="multipart/form-data">
             <!-- <div style="text-align: right; " > -->
                <select class="category-select" id="categories-opt1" name = "users" >
                  {% for user in all_user %}
                  <option value="{{ user }}">{{ user }}</option>
                  {% endfor %}
                </select>
              <br>
              <input  class="btn btn-default" type="submit" name = "button" value="Search User">
            <!-- </div> -->
          </form>
       </div>
        <br>
         <div class = "category" >
          <form id="form1" action="" method="POST" enctype="multipart/form-data">
             <!-- <div style="text-align: right; " > -->
              <select class="category-select" id="categories-opt2" name = "comm" >
                  {% for comm in all_comm %}
                  <option value="{{ comm }}">{{ comm }}</option>
                  {% endfor %}
                </select>
              <br>
              <input  class="btn btn-default" type="submit" name = "button" value="Search Community">
            <!-- </div> -->
          </form>
        </div>

        <!-- {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }} </p>
        {% endif %} -->
        <br>
        
        
        <!-- <form action="" method="post">
          <input type="text" placeholder="Search Using Tags" name="tag_text" value="{{
            request.form.tag_text }}">
          <input class="btn btn-default" type="submit" name = "button" value="tag_search">
        </form> -->
      <div class = "category" >
        <form id="form3" action="" method="POST" enctype="multipart/form-data">
            <select class="category-select" id="categories-opt" name = "tags" >
              {% for tag in all_tags %}
              <option value="{{ tag }}">{{ tag }}</option>
              {% endfor %}
            </select>
            <br>
            <input class="btn btn-default" type="submit" name = "button" value="Search Tag">
        </form>
      </div>
    </div>

    <div class="main1" align = "center">
        <div class="post">
            <p><a href=" {{ url_for('post') }}"> Post a feed </a></p>
        </div>
        {% if all_feeds|length > 0 %}
        <div class="result-list">
            {% for feed in all_feeds %}
                <div class="result">


                    <div class="heading">
                        <p class="username"><strong>Username</strong> : {{ feed['username'] }}  <strong>  Date</strong> : {{ feed['post_time'] }} </p>
                        <p class="tags"><strong>Tags</strong> : {{ feed['tags'] }}</p>
                        <p class="ratings"> <strong> Rating : {{ feed['rating'] }} </strong></p>
                    </div>
                    <!-- <div class="info" align = "center">
                        <ul>
                            <p class="date"><strong>Date</strong> : {{ feed['date'] }} </p>
                            <p class="tags"><strong>Tags</strong> : {{ feed['tags'] }}</p>
                        </ul>
                    </div> -->

                    <div class="content">
                        <p>{{ feed['content'] }}</p>
                    </div>

          
                      {% if feed['bookmark'] == 0 %}
                      <form action="" method="post">
                        <input class="btn btn-default" type="submit" name = "button" value="Bookmark">
                        <input type = "hidden" class="btn btn-default" type="submit" name = "button11" value="{{feed['post_id']}}">
                      </form>
                      {% else %}
                          <input class="btn btn-default" type="submit" name = "button" value="Bookmarked">

                      {% endif %}

                      {% if feed['upvote'] == 0 %}
                          <form action="" method="post">
                            <input class="btn btn-default" type="submit" name = "button" value="Upvote">
                            <input type = "hidden" class="btn btn-default" type="submit" name = "button22" value="{{feed['post_id']}}">
                          </form>

                      {% else %}
                          <input class="btn btn-default" type="submit" name = "button" value="Upvoted">
                          <br>
                      {% endif %}
                      <br>

                      <form action="" method="post">
                        <input class="btn btn-default" type="submit" name = "button" value="PreRequisite">
                        <input type = "hidden" class="btn btn-default" type="submit" name = "button33" value="{{feed['post_id']}}">
                      </form>


                      
                    <!-- </form> -->
                    <!-- <form>
                        <button class='btn btn-default' id = 'test' >Test</button>
                    </form> -->
                    <hr class = "striped-border" >
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    

    </body>
</html>
