<!-- <form action="" method="post"> 
                    <a href = "{{ url_for('bookmark', bookmark_id= feed['post_id'], user= username ) }}" > <input class="btn btn-default" type="submit" name = "button" value="Bookmark"> -->

 <!--  , username =  {{ username }} ) }} -->
                    <!-- <a href = "{{ url_for('bookmark', bookmark_id= feed['post_id']) }} " > <input class="btn btn-default" type="submit" name = "button" value="Bookmark"> -->               

<a href = "{{ url_for('upvote', upvote_id= feed['post_id'] ) }}" > <input class="btn btn-default" type="submit" name = "button" value="Upvote"></a>   

<!-- <form>
                        <button class='btn btn-default' id = 'test' >Test</button>
                    </form> -->                