 <!-- <form action="" method="post">
        <input type="text" placeholder="Your Post" name="content" value="{{
          request.form.content }}">
        <br>
        <input type="text" placeholder="Tags" name="tags" value="{{
          request.form.tags }}">
        <br>
        <input type="text" placeholder="Pre-requisites, if any" name="preq" value="{{
          request.form.preq }}">

        <br>
        <input type="text" placeholder="Posting in Community (Optional)" name="comm" value="{{
          request.form.comm }}">
        <br>
        <input class="btn btn-default" type="submit" name = "button" value="post">
      </form> -->